{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="row mx-3 mx-m-0">
        <div class="col s12 m6 l4 offset-m3 offset-l4 px-m-4 px-s-1 pb-2 mt-3 mt-m-5 z-depth-2">

            {{ form_start(registrationForm) }}
            <div class="row center">

                <h1 class="mb-1">Reset Password</h1>

                <div class="input-field col s12">
                    {{ form_row(registrationForm.email) }}
                </div>

                <div class="input-field col s12">
                    {{ form_row(registrationForm.plainPassword) }}
                </div>

                <div class="mt-2 mt-m-0 col s12">
                    <button class="btn">reset</button>
                </div>

            </div>
            {{ form_end(registrationForm, {'render_rest': false}) }}

        </div>
    </div>

{% endblock %}