{% extends 'base.html.twig' %}

{% block title %}
    New Trick
{% endblock %}

{% block body %}
    <div class="trick-container container z-depth-1 mt-5" id="trickNewContainer">
        <h1>New trick</h1>

        {% include 'trick/admin/_edit-trick-form.html.twig' with {'form': form, 'trickTagsJson': trick.tagsJson, 'allTagsJson': allTagsJson} %}

    </div>

{% endblock %}

{% block javascripts %}

    <script>
        //init chips
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.chips');
            let tagsData = document.querySelector('#trick-tag-data');
            let trickTags = JSON.parse(tagsData.dataset.trickTagsJson);
            let allTags = JSON.parse(tagsData.dataset.allTagsJson);

            let allTagsObj = {};
            allTags.map(
                a =>{
                    allTagsObj["'"+a.name+"'"] = null;
                    return allTagsObj;
                }
            );

            console.log(allTagsObj);

            var instances = M.Chips.init(elems, {
                placeholder: "Add some tags",
                secondaryPlaceholder: "keep adding Tags",
                onChipAdd: chipInput,
                onChipDelete: chipInput,
                data: trickTags.map(function(tt){ return {tag: tt.name}}),
                autocompleteOptions: {
                    data: allTagsObj,
                    limit: Infinity,
                    minLength: 1
                }
            });

            function chipInput(){
                var elem = document.getElementById('chips1');
                var tagInput = document.getElementById('trick_tags');
                var instance = M.Chips.getInstance(elem);
                var tagData = instance.chipsData;

                var tags = [];
                for(var $i=0; $i<tagData.length; $i++){
                    tags.push( tagData[$i].tag.toLowerCase());
                }

                let uniqTags = [...new Set(tags)];
                tagInput.value =JSON.stringify(uniqTags);
            }

        });

    </script>

{% endblock %}



