{% extends 'base.html.twig' %}

{% block title %}
    New Trick
{% endblock %}

{% block body %}
    <div class="trick-container container z-depth-1 mt-5" id="trickNewContainer">
        <h1>New trick</h1>

        {% include 'trick/admin/_edit-trick-form.html.twig' with {'form': form, 'trickTagsJson': trick.tagsJson, 'allTagsJson': allTagsJson} %}

    </div>

{% endblock %}



