/*
Adapting the title text between the min width and the max width
  s: 0px,
  m: 600px,
  l: 992px,
  xl: 1200px
*/

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 600px;
$max_width: 1200px;


h1.responsive-header {
  @include fluid-type($min_width, $max_width, 40px, 60px);
}

//h1.responsive-header{
//  font-size:40px;
//}
//
//@media screen and (min-width: 6000px) {
//  h1.responsive-header{
//    font-size:calc(40px + .4vw);
//  }
//}
//
//@media screen and (min-width: 1200px) {
//  h1.responsive-header{
//    font-size: 64px;
//  }
//}