#st-header-image .header-text h1.header-text-title {
  /*TODO : add font and shadow*/
}

#st-header-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}