.trick-image-header {
  position: relative;

  .trick-edit-button {
    position: absolute;
    right: 0;
  }

  .trick-name {
    position: absolute;
    top: 50%;
  }
}

#trick-comments {
  h1 {
    font-size: 1.5rem;
    margin: 0;
  }

  h2 {
    font-size: 1.2rem;
    margin: 0;
  }
}