@import url('https://fonts.googleapis.com/css?family=Coiny|Crete+Round|Oxygen');

.font-coiny {
  font-family: 'Coiny', cursive;
}

.font-oxygen {
  font-family: 'Oxygen', sans-serif;
}

.font-crete-round {
  font-family: 'Crete Round', serif;
}