//Adding a smooth scroll behavior, doesn't work on IE or Edge but don't care for IE and Edge will be chromium soon

html {
  scroll-behavior: smooth;
}

.scroll-button {
  position: fixed;
  right: 1rem;
  animation-duration: 0.4s;
  animation-delay: 0.1s;
  z-index: 20;
  background-color: rgba(90, 90, 90, 0.61);
  border-radius: 15px;
  border: 5px solid #d9d9d9;

  i {
    color: #d9d9d9;
  }

  &:hover {
    background-color: rgba(89, 89, 89, 0.95);
  }

  &#scroll-to-tricks {
    top: 36%;

  }

  &#scroll-to-top {
    bottom: 28%;
    display: none;

  }
}

