.trick-image-box {
  position: relative;
}

.image-delete-button{
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  z-index: 1;
}

.primary-trick-image, .trick-image:hover{
  border: 3px solid #1a237e;
}

.trick-image:hover{
  border-width: 2px;
}

.video-display{
  position: relative;

  a:hover{
    cursor: zoom-in;
  }

  i{
    color: white;
  }
}

.video-play-icon{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

#primary-image-preloader{
  position: absolute;
  top: 50%;
  width: 100%;
}