<h3>Welcome to the best resource to learn all the snow tricks</h3>

<p>Welcome {{ user.username }}, you seem to have forgotten your password</p>
<p>To reset your password, please click <a href="{{ url('app_resetpassword', {token: user.verifiedHash}) }}">here</a> </p>

