{% extends 'emails/basemail.html.twig' %}

{% block mailTitle %}{{ mailData.username }}, it seams you have forgotten your password{% endblock %}

{% block body %}
    <p>To reset your password, please click the button below</p>
{% endblock %}

{% block button %}

    <a target='_blank' href='{{ url('app_resetpassword', {token: mailData.verifiedHash}) }}'
       class='link2'
       style='color:#ffffff;'>Reset your password</a>

{% endblock %}
