{% extends 'emails/basemail.html.twig' %}

{% block mailTitle %}Welcome {{ mailData.username }} to the best resource to learn all the snow tricks{% endblock %}

{% block body %}
    <p>You have just subscribed the the best place to learn all about snow boarding tricks</p>
    <p>To validate your email address, please click the button below</p>


{% endblock %}

{% block button %}

    <a target='_blank' href='{{ url('app_validate', {token: mailData.verifiedHash}) }}'
       class='link2'
       style='color:#ffffff;'>Activate
        your Account</a>

{% endblock %}
