{% extends 'emails/basemail.html.twig' %}

{% block mailTitle %}Welcome {{ mailData.username }}, your password has just been reset{% endblock %}

{% block body %}

<p>Your password has just been reset</p>


{% endblock %}
