<div id="scroll-to-tricks" class="scroll-button">
    <div>
        <a href="#trick-card-list"><i class="medium material-icons">arrow_downward</i></a>
    </div>
</div>

<div id="scroll-to-top" class="scroll-button">
    <div>
        <a href="#"><i class="medium material-icons">arrow_upward</i></a>
    </div>
</div>