<div id="scroll-to-tricks">
    <div class="scroll-arrows">
        <a href="#trick-card-list">to tricks</a>
    </div>
</div>

<div id="scroll-to-top">
    <div class="scroll-arrows">
        <a href="#">to top</a>
    </div>
</div>