<a href="{{ path('trick.edit', {id:trick.id}) }}" class="waves-effect waves-light">
    <i class="material-icons">create</i>
</a>
<a href="{{ path('trick.delete', {id:trick.id}) }}" class="waves-effect waves-light">
    <i class="material-icons">delete</i>
</a>