<div class="card">
    <div class="card-image">
        <img src="https://via.placeholder.com/150x100">

    </div>
    <div class="card-content">
        <p>
            <a href="{{ path('trick.show', {id:trick.id, slug:trick.slug}) }}">{{ trick.name }}</a>
            <span class="right">
                {% include 'trick/_trick-edit-icons.html.twig' with {'trick': trick} %}
            </span>
        </p>
    </div>
</div>