<div class="card trick-card">
    <div class="card-image">
        <img src="https://via.placeholder.com/150x100" class="responsive-img w100">

    </div>
    <div class="card-content">
        <div class="row">
            <div class="col s12 {{ is_granted('ROLE_USER') ? 'm7 l8' }}">
                <a href="{{ path('trick.show', {id:trick.id, slug:trick.slug}) }}">{{ trick.name }}</a>
            </div>
            {% if is_granted('ROLE_USER') %}
                <div class="col s12 m5 l4 px-m-0 center">
                    {% include 'trick/_trick-edit-icons.html.twig' with {'trick': trick} %}
                </div>
            {% endif %}
        </div>

    </div>
</div>