<div class="card">
    <div class="card-image">
        <img src="https://via.placeholder.com/150x100">

    </div>
    <div class="card-content">
        <p>
            {{ trick.name }}
            <span class="right">
                <a href="{{ path('trick.edit', {id:trick.id}) }}" class="waves-effect waves-light">
                    <i class="material-icons">create</i>
                </a>
                <a href="{{ path('trick.delete', {id:trick.id}) }}" class="waves-effect waves-light">
                    <i class="material-icons">delete</i>
                </a>
            </span>
        </p>
    </div>
</div>