{% extends 'base.html.twig' %}

{% block body %}
    <div id="trickhomeContainer">
        <!-- Header image with slogan -->
        <div class="valign-wrapper vh100" id="st-header-image"
             style="background-image: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg)">

            <h1 class="header-text-title center-align w100 font-coiny bordered-text responsive-header">Phrase Accroche</h1>

        </div>

        <!-- The tricks cards -->
        <div class="row mx-xl-5 mt-xl-5 mt-l-3 mt-s-1 flex-center" id="card-list">
            {% include 'trick/_trick-card.html.twig' with {'tricks': tricks} %}
        </div>

        {% set url =  path('home', {'page': nextPage,}) %}
        {% include 'trick/_loadMoreButton.html.twig' with {'nextPage': nextPage, 'url': url} %}

    </div>
    {% include '_scrollarrows.html.twig' %}
{% endblock %}
