{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="center">Tricks with tag "{{ tag.name }}"</h1>

    <div class="row mx-xl-5 mt-xl-5 mt-l-3 mt-s-1 flex-center" id="card-list">
        {% include 'trick/_trick-card.html.twig' with {'tricks': tricks} %}
    </div>

    {% set url =  path('trick.tag', {'page': nextPage, 'id': tagId, 'slug': slug}) %}
    {% include 'trick/_loadMoreButton.html.twig' with {'nextPage': nextPage, 'url': url} %}

{% endblock %}

{% block title %}

{% endblock %}

